/* form sign up / login css */
.formSubmission > * {
    margin: 20px 50px;
}

.formSubmission {
    width: 80%;
    margin: auto;
}

/* edit page */
.editPage {
    margin: 20px;
}

/* delete button in the edit page */
.red {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #d9534f;
}

.red-border {
    border: 1px solid #d9534f;
}

/* toggle messages */
.hidden {
    display: none;
}

/* the logout link in the nav */
#btn-logout {
    background-color: transparent;
    color: #A9A9A9;
    border: none;
}

/* these center the addresses / form elements  */
.center > * {
    text-align: center;
    margin: 20px auto;
}

.center_cards > * {
    text-align: center;
    margin: 10px 10px;
}

.centers {
    text-align: center;
    margin: 20px auto;
}

/* Style for the search input */
.form-control {
  border-radius: 20px;
  padding: 8px 16px;
  box-shadow: none;
  border-color: #ccc;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}


/*


 STOP HERE


*/

.search-dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}


.search-dropdown-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
}

.search-dropdown-input:focus {
  border-color: #007bff;
  box-shadow: none;
}

.search-dropdown-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #FFF5EE;
  padding: 20px;
}

.search-dropdown-item {
  display: block;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.search-dropdown-item:hover {
  background-color: #f0f0f0;
}

.search-dropdown-button {
  margin-left: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-dropdown-button:hover {
  background-color: #0069d9;
}

