/* form sign up / login css */
.formSubmission > * {
    margin: 20px 50px;
}

.formSubmission {
    width: 80%;
    margin: auto;
}

/* edit page */
.editPage {
    margin: 20px;
}

/* delete button in the edit page */
.red {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #d9534f;
}

.red-border {
    border: 1px solid #d9534f;
}

/* toggle messages */
.hidden {
    display: none;
}

/* the logout link in the nav */
#btn-logout {
    background-color: transparent;
    color: #A9A9A9;
    border: none;
}

/* these center the addresses / form elements  */
.center > * {
    text-align: center;
    margin: 20px auto;
}

.center_cards > * {
    text-align: center;
    margin: 10px 10px;
}

.centers {
    text-align: center;
    margin: 20px auto;
}